/* font-family: 'Poppins', sans-serif; */

/* BEGIN WW CSS */

body {
    font-family: 'Poppins', 'sans-serif';
    color: #263238;
    max-width: 390px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-weight: 800;
    font-size: 2em;
    color: #ffffff;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0;
}

h3 {
    font-weight: 600;
    font-size: 1em;
    color: #9c9c9c;
    margin: 4px 0;
}

h4 {
    font-weight: 400;
    font-size: 1em;
    color: #ffffff;
}

img {
    max-width: 390px;
}

/******* CUSTOMIZATIONS *********/

/* BEGIN HOMEPAGE */

.homeHeader {
    max-width: 390px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 90%;
    text-align: center;
    line-height: .5;
    margin-bottom: 8px;
}

.homeHeader .bg {
    padding: 16px 0px 4px 0px;
    background: #99C5EA;
}

.homeHeader img {
    min-width: 96px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 390px) {
    .homeHeader {
        margin: auto;
        line-height: 1;
    }
    
    .homeHeader img {
        max-width: 100%;
    }
    
    .runsHeader img {
        max-width: 100%;
    }
    
    .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* END HOMEPAGE */



/* BEGIN RUNS */

.runsHeader {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 90%;
    text-align: left;
    line-height: .5;
    word-spacing: 30px;
}

.runsHeader img {
    max-width: 390px;
}

.runsHeader .bg {
    padding: 16px;
    background: #6188CD;
}

#dropTitle {
    color: #263238;
}

.dropdowns {
    margin: 16px;
}

.collapsible {
  background-color: #ffffff;
  color: #263238;
    border-radius: 20px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
    margin-bottom: 16px;
}

.content {
  background-color: #ffffff;
    overflow: hidden;
    display: none;
}

@media screen and (max-width: 390px) {

.runsHeader img {
        max-width: 100%;
    }
    
    .runsHeader .bg {
        max-width: 100%;
    }
}

/* END RUNS */

/* BEGIN ITINERARY */

.itineraryHeader {
    max-width: 390px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 90%;
    text-align: left;
    line-height: .5;
    word-spacing: 30px;
}

.itineraryHeader .bg {
    padding: 16px;
    background: #6DD6F3;
}

.trips {
    margin-top: 32px;
}

.trips h3 {
    margin: 16px;
}

.tasks {
    text-align: center;
    display: inline-grid;
    margin: auto;
}

.trips section {
    margin-bottom: 16px;
}

.tasks img {
    max-width: 100%;
    margin: auto;
}

#hbd {
    text-align: center;
}

#hbd img {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 358px;
    margin: auto;
}

@media screen and (max-width: 390px) {

.itineraryHeader img {
        max-width: 100%;
    }
    
    .tasks img {
        max-width: 100%;
    }
    
    #hbd img {
        max-width: 90%;
        margin: auto;
    }
    
}