html, body {
    background: white;
    height: 100%;
}

ul {
    list-style: none;
}

#theMargin {
    max-width: 13.4%;
    height: 100%;
    color: white;
    background: white;
    font-size: 2vw;
    float: right;
}
