#top_abt {
    color: #4f5bd5;
    opacity: 1;
    font-weight: 600;
}

.story {
    padding-top: 0px;
    max-width: 1080px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}


#headline {
    font-weight: 200;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin: 0 auto 50px auto;
}


.blurb {
    margin: 100px auto 0 auto;
    width: 100%;
}


#pitch {
    width: 100%;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    margin-left: auto;
    font-size: 22px;
}

.me {
    margin-left: 800px;
    margin-right: auto;
    border-radius: 25px;
    background-size: 300px auto;
    background: url(/assets/images/about/erik_hero.jpg) no-repeat;
    width: 300px;
    display: inline-block;
    background-position: right;
    float: right;
    
}

.me:hover {
    background: url(/assets/images/about/erik_ollie.jpg) no-repeat;
    background-size: 300px auto;
    background-position: bottom center;
    cursor: crosshair;
}

.me img {
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

.me img:hover {
    opacity: 0;
}

.reflection {
    margin: auto;
    width: 100%;
}

.reflection p {
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 22px;
    width: 100%;
    
}

.reflection em {
  color: #a5b3be;
}

.reflection a {
    color: inherit;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.reflection a span {
    display: none;
    position: absolute;
    right: 100%;
    color: #00aadd;
}

.reflection a::before {
    content: '';
    height: 20%;
    background: #7bedc6;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0.09em;
    left: -0.2em;
    opacity: .5;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.4s ease;
}

.reflection a:hover {
  border-color: #00aadd;
}

.reflection a:hover span {

}

.reflection a:hover::before {
    opacity: .5;
    height: 70%;
    width: 100%;
}



/* EMPLOYMENT */

.work_hist {
    text-align: center;
    background: #fff;
    border-radius: 20px;
    max-height: 400px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.work_hist h2 {
    margin: 0 auto 10px auto;
    font-family: "Courier New", monospace;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 30px;
    text-align: center;
}

table {
    table-layout: auto;
    width: 100%;
}

td {
    white-space: nowrap;
    width: 600px;
}

.career img {
    padding-bottom: 1em;
    max-height: 80px;
    width: auto;
    text-align: center;
    max-width: auto;
;}

#uw img {
    height: 70px;
    padding-bottom: 1.6em;
}

#rylem img {
      -webkit-filter: invert(100%);
  filter: invert(100%);
}

li {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
    color: #7f7f7f;
}

#date {
    color: #2f3541;
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 20px;
}

#date {
    position: relative;
}

#date:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 25px;
    width: 25%;
    margin: 0 auto;
    height: 12%;
    background: rgba(123, 237, 198, .5);
}


/* VIDEO */

.video {
    text-align: center;
    width: 100%;
    margin: 40px auto;
}

iframe {
    height: 522px;
    max-width: 928px;
    border-radius: 20px;
    width: 100%;
}

.vid_info {
    background: rgba(123, 237, 198, .4);
    margin: auto;
    padding: 20px;
    max-width: 500px;
    font-size: 18px;
    font-weight: 200;
    font-family: "Helvetica", sans-serif;
    
}

#fun {
    font-family: "Courier New", monospace;
    font-weight: 600;
    text-decoration: underline;
}

.button {
    text-align: center;
    padding-top:  100px;
}

.li_btn {
    background-color: #008cc9;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    transition: .5s;
}

.li_btn:hover {
    background-color: #008cc9;
    opacity: .6;
   font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
}
