hr {
    padding-top: 10px;
    color: black;
    
}

.lmo_main {
    margin: 0 150px;   
}

.lmo_main p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    font-size: .9em;
}

.lmo_main h2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
}

.lmo_main img {
    margin: 0 auto;
}

#headline {
    text-align: center;
    margin: 100px 0;
}

#headline h1 {
    font-size: 60px;
}

#headline h1 span {
    position: relative;
}

#headline h3 {
    color: #686e7d;
}

#headline h1 span:after {
    content: '';
    position: absolute;
    left: 15px;
    right: 0;
    bottom: 5px;
    width: auto;
    margin: 0 auto;
    height: 20%;
    background: rgba(40, 194, 142, .5);
}

.lmo_top {
    text-align: center;
    padding-bottom: 100px;
    
}

#main_hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 100px;
}

.onboard_flow {
    text-align: center;
    display: grid;
    word-spacing: 3em;
}

.onboard_flow img {
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .4s;
}

.onboard_flow img:hover {
    transform: scale(2.5);
    transition-duration: .2s;
    cursor: zoom-in;
}

.lmo_comp {
    text-align: center;
}

.lmo_comp img {
    width: 70%;
    padding-bottom: 3em;
}

.sg_hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.branding {
    height: 260px;
    padding-top: 10px;
    background-color: #fff;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border-radius: 20px;
}

.guide_main {
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 20px;
}

.colors {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 1240px;
    padding: 20px 0;
}

.icon_type {
    display: inline-block;
    word-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    margin-top: 3em;
}

.icon_type img {
    max-height: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 40px;
}

.bot_hero {
    text-align: center;
}

.bot_hero img {
    height: 750px;
    margin-top: 100px;
}

.button {
    text-align: center;
    padding-top:  100px;
}

.li_btn {
    background-color: #008cc9;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: 450px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 170px;
    transition: .5s;
    float: left;
}

.li_btn:hover {
    background-color: #008cc9;
    opacity: .6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: 450px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    float: left;
}

.ns_btn {
    background-color: rgba(123, 237, 198, 1);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 170px;
    transition: .5s;
    float: right;
}

.ns_btn:hover {
    background-color: rgba(123, 237, 198, 1);
    opacity: .6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    float: right;
}