hr {
    padding-top: 10px;
    color: black;
    
}

.lmo_main {
    padding-top: 100px;
    max-width: 1080px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;   
}

.lmo_main p {
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 22px;
    width: 100%;
}

.lmo_main h2 {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
}

.lmo_main img {
    margin: 20px auto;
}

#headline {
    font-weight: 200;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin: 0 auto 50px auto;
}

#headline h3 {
    color: #27c38e;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
}

.lmo_top {
    text-align: center;
    margin: 0 auto;
    width: 
}

#main_hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 100px;
}

.flows {
    margin: 50px auto;
    width: 100%;
}

.onboard_flow {
    text-align: center;
    display: grid;
    word-spacing: 3em;
    margin: auto;
    width: 100%;
}

.zoom {
    margin: 0 auto;
    width: 100%;
}

.onboard_flow img {
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .4s;
}

.onboard_flow img:hover {
    transform: scale(1.5);
    transition-duration: .2s;
    cursor: zoom-in;
}

.lmo_comp {
    text-align: center;
    width: 100%;
    margin: auto;
}

.lmo_comp img {
    max-width: 800px;
    padding-bottom: 20px;
    
}

.sg_hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.branding {
    height: 260px;
    padding-top: 10px;
    background-color: #fff;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border-radius: 20px;
}

.styleguide {
    margin: 50px auto;
    width: 100%;
}

.guide_main {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.colors {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}

.icon_type {
    margin: 0 auto;
    width: 100%;
}

.icon_type img {
    max-height: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 40px;
}

.bot_hero {
    text-align: center;
}

.button {
    text-align: center;
    padding-top:  100px;
}

.li_btn {
    background-color: #008cc9;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    transition: .5s;
    float: left;
}

.li_btn:hover {
    background-color: #008cc9;
    opacity: .6;
   font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    float: left;
}

.ns_btn {
    background-color: rgba(123, 237, 198, 1);
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    transition: .5s;
    float: right;
}

.ns_btn:hover {
    background-color: rgba(123, 237, 198, .5);
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    float: right;
}