hr {
  border: 1px solid #e7e7e7;
}

.lmo_main {
    max-width: 1080px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding-right: 10px;
    padding-left: 10px;
}

.lmo_main p {
    font-family: Lora,Georgia,serif;
    font-weight: 100;
    font-size: 22px;
    width: 100%;
    color: #505a6a;
}

.lmo_main h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
    color: #2f353e;
}

.lmo_main img {
    margin: 20px auto;
    max-width: 100%;
}

#headline {
    font-weight: 200;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin: 0 auto 50px auto;
}

#headline h3 {
    color: #27c38e;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.lmo_top {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#main_hero img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 100px;
}

.flows {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.onboard_flow {
    text-align: center;
    word-spacing: 3em;
    margin: auto;
    width: 100%;
}

.zoom {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    word-spacing: 2em;
    text-align: center;
}

.onboard_flow img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .4s;
}

.onboard_flow img:hover {
    transform: scale(1.5);
    transition-duration: .2s;
    cursor: zoom-in;
}

.lmo_comp {
    text-align: center;
    width: 100%;
    margin: auto;
}

.lmo_comp img {
    max-width: 800px;
    padding-bottom: 20px;
    width: 100%;
    
}

.sg_hero {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.branding {
    height: 260px;
    padding-top: 10px;
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border-radius: 20px;
}

.guide_main {
    margin: 50px auto 100px auto;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    
}

.colors {
    margin-right: auto;
    margin-left: auto;
}

.colors img {
    width: 90%;
}

.icon_type {
    margin: auto;
    width: 100%;
}

.icon_type img {
    max-height: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 40px;
}

.bot_hero {
    text-align: center;
}



.button {
    text-align: center;
}

.li_btn {
    background-color: #008cc9;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 170px;
    transition: .5s;
}

.li_btn:hover {
    background-color: #28c28e;
    opacity: .6;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
}
