.ns_main {
    padding-top: 100px;
    max-width: 1080px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;    
}

.ns_main p {
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 22px;
    width: 100%;
}

.ns_main h2 {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
}

.ns_top {
    text-align: center;
    
}

/* BEGIN HOVER ANIMATION */

.ns_main em {
  color: #a5b3be;
}

.ns_main p a {
    color: inherit;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.ns_main p a span {
    display: none;
    position: absolute;
    right: 100%;
    color: #00aadd;
}

.ns_main p a::before {
    content: '';
    height: 20%;
    background: #7bedc6;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0.09em;
    left: -0.2em;
    opacity: .5;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.4s ease;
}

.ns_main p a:hover {
  border-color: #00aadd;
}

.ns_main p a:hover span {

}

.ns_main p a:hover::before {
    opacity: .5;
    height: 70%;
    width: 100%;
}

/* END HOVER ANIMATION */

#headline {
    font-weight: 200;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin: 0 auto 50px auto;
}

#headline h1 {
    font-size: 60px;
}

#headline h1 span {
    position: relative;
}

#headline h3 {
    color: rgba(123, 237, 198, 1);
}

.flows {
    margin: 50px auto;
    width: 100%;
}

.old_land {
    text-align: center;
    margin: 0 auto 20px auto;
    width: 100%;
}

.old_land img {
    border-radius: 10px;
}

.scroll {
    text-align: center;
    word-spacing: 1em;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

#about {
    border-radius: 10px;
}

.new {
    background-color: white;
    width: 100%;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
    margin-right: auto;
    padding: 20px 10px;
}

.new img {
    text-align: center;
    height: 250px;
    border-radius: 5px;
    padding: 10px;
}


.button {
    text-align: center;
    padding-bottom: 70px;
}

.lmo_btn {
    background-color: #28c28e;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 170px;
    transition: .5s;
    float: left;
}

.lmo_btn:hover {
    background-color: #28c28e;
    opacity: .6;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    float: left;
}

.js_btn {
    background-color: mediumpurple;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 170px;
    transition: .5s;
    float: right;
}

.js_btn:hover {
    background-color: mediumpurple;
    opacity: .6;
    font-family: "Lucinda", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 180px;
    float: right;
}
